<h1>Mail News</h1>

<%= notice if notice %>

<section>
  <h2>Add your Mail to Mailing List</h2>
  <%= form_with url: '/mail_news' do |f| %>
    <%= f.text_field :email %>
    <%= f.submit 'REGISTER' %>
  <% end %>
</section>

<section>
  <h2>Remove your Mail to Mailing List</h2>
  <%= form_with url: '/mail_news' do |f| %>
    <%= f.text_field :remove_email %>
    <%= f.submit 'UNREGISTER' %>
  <% end %>
</section>
