<h1>Mail News</h1>

<%= notice if notice %>

<seciton>
  <p>Add your Mail to Mailing List</p>
  <%= form_with url: '/mail_news' do |f| %>
    <%= f.text_field :email %>
    <%= f.submit %>
  <% end %>
</seciton>

<seciton>
  <p>Remove your Mail to Mailing List</p>
  <%= form_with url: '/mail_news' do |f| %>
    <%= f.text_field :remove_email %>
    <%= f.submit %>
  <% end %>
</seciton>
